PORT=3000
NODE_ENV=development
CORS_ORIGINS=https://localhost:5171
LOG_LEVEL=info

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100

BODY_JSON_LIMIT=1mb

WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
WEATHER_API_TIMEOUT=5000
WEATHER_API_DAYS=3

WEATHER_RULE_MAX_PRECIPITATION=2.5
WEATHER_RULE_MAX_TEMPERATURE=10
WEATHER_RULE_MIN_TEMPERATURE=-10

JWT_SECRET_KEY=SECRET_KEY
JWT_MAX_AGE_MS=3600000