PORT=3000
NODE_ENV=production
CORS_ORIGINS=https://localhost:5171
LOG_LEVEL=info

RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=100

BODY_JSON_LIMIT=1mb

WEATHER_API_URL=https://api.open-meteo.com/v1/forecast
WEATHER_API_TIMEOUT=5000
WEATHER_API_DAYS=3

WEATHER_RULE_MAX_PRECIPITATION=2.5
WEATHER_RULE_MAX_TEMPERATURE=10
WEATHER_RULE_MIN_TEMPERATURE=-10

JWT_SALT_ROUNDS=10
JWT_REFRESH_TOKEN_KEY=SECRET_KEY
JWT_ACCESS_TOKEN_KEY=SECRET_KEY
JWT_REFRESH_TOKEN_MAX_AGE_MS=604800000
JWT_ACCESS_TOKEN_MAX_AGE_S=900

DB_HOST=db
DB_PORT=5432
DB_NAME=maintenance_db
DB_USER=base_user
DB_PASSWORD=p12345

DB_POOL_MAX=10
DB_POOL_MIN=0
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin
GF_SERVER_ROOT_URL=http://localhost/monitoring/